
div.example {
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (max-width: 800px) {
  div.example {
    padding: 1%;
  }
}

.c7{
  padding-left: 10%;
}
.h1{
  font-size: 18px;
}
.c2{
  padding-left: 15%;
}
 .d1 {
   background-color: #44d4db;
   text-align: center;
   padding: 2px;
   margin-top: 10px;
   margin-bottom: 10px;
 }
  }
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;


  }

  td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
  }

  tr:nth-child(even){background-color: #f2f2f2}
